name: Update Data

on:
  workflow_call:

jobs:
  update:
    runs-on: ubuntu-latest

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write

    steps:
      - uses: actions/checkout@v4

      # Other steps that change files in the repository

      - name: Debug
        run: |
          echo "Current directory:"
          echo $pwd
          echo $ls

      - name: Download data & Update files
        run: |
          wget https://www.octa.net/current/google_transit.zip -O octa_gtfs.zip
          wget https://rrgtfsfeeds.s3.amazonaws.com/gtfsmnr.zip -O gtfsmnr.zip
          chmod +x saskatoon.sh
          ./saskatoon.sh saskatoon.zip

      - uses: stefanzweifel/git-auto-commit-action@v5
